.detail{
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 50px;
}
@media screen and (max-width: 768px){
    .detail{
        padding: 20px;
    }
}
@media screen and (max-width: 480px){
    .detail{
        display: block;
    }
}

.detail-inner-left{
    width: 100%;
}

.item-image img{
    display: block;
    width: 70%;
    max-height: 80vh;
    margin: 0 auto;
}

.detail-inner-right{
    width: 60%;
    margin: 0 auto;
}
@media screen and (max-width: 768px){
    .detail-inner-right{
        width: 100%;
    }
}

.item-overview h2{
    margin: 0 0 -10px 0;
}
.item-overview p{
    margin-top: 0;
    margin-bottom: 10px;
}
.item-overview_brand{
    font-size: 12px;
}
.item-overview_price{
    font-size: 18px;
}

.item-overview__button{
    display: flex;
}

.favourite-count,
.comment-count{
    padding: 5px 10px;
    text-align: center;
}
.favourite-icon,
.comment-icon{
    cursor: pointer;
}
.favourite-icon.favourited{
    color: #FF5555;
}

.favourite-count p,
.comment-count p{
    font-size: 10px;
}

.item-contents{
    width: 80%;
    height: 55vh;
    overflow: auto;
}
.item-contents::-webkit-scrollbar{
  display: none;
}
@media screen and (max-width: 768px){
    .item-contents{
        width: 100%;
    }
}

.purchase-button button,
.comment-submit button{
    width: 100%;
    height: 30px;
    color: white;
    background-color: #FF5555;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.purchase-button p{
    background-color:#D9D9D9;
    border-radius: 4px;
    text-align: center;
}

.item-description p{
    font-size: 12px;
}

.item-information__table>*{
    font-size: 12px; 
}
.item-information__table{
    border-collapse: separate;
    border-spacing: 0 10px;
}

.item-information__table th{
    padding-right: 20px;
    margin: 20px;
}
.item-information__table td{
    padding: 0;
}

.item-information__table_category span{
    background-color: #D9D9D9;
    padding: 0 5px;
    border-radius: 10px;
}

.comment-history p:nth-child(2n-1){
    margin-bottom: 0;
    font-size: 12px;
}
.comment-history p:nth-child(2n){
    background-color: #D9D9D9;
    border-radius: 4px;
    padding: 10px;
    margin-top: 0;
    font-size: 11px;
}

.comment-seller {
    text-align: left;
    position: relative;
}
.comment-buyer {
    text-align: right;
    position: relative;
}
.comment-seller__form{
    position: absolute;
    top: -5px;
    right: 5px;
    
}
.comment-buyer__form{
    position: absolute;
    top: -5px;
    left: 5px;
    
}
.comment-history button{
    border: none;
    border-radius: 50%;
    background-color: #D9D9D9;
    cursor: pointer;
}

.comment-submit label{
    font-size: 12px;
    font-weight: bold;
}
.comment-submit textarea{
    width: 100%;
}
