.sell-inner{
    width: 35%;
    margin:30px auto;
}

@media screen and (max-width: 768px){
    .sell-inner{
        width: 70%;
    }
}

h2{
    text-align: center;
    margin-bottom: 30px;
}

.sell-form__group{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.sell-form__group h3{
    font-size:20px;
    font-weight: bold;    
    border-bottom: #5F5F5F solid 0.5px;
}

.sell-form__group h4{
    font-size: 16px;
    font-weight: bold;
    margin: 0;
}

.sell-form__group input:not(.sell-form__image,.sell-form__checkbox),
.sell-form__group select{
    width: 100%;
    height: 36px ;
    font-size: 16px;
    border: #5F5F5F solid 0.5px;
    border-radius: 4px;
    padding-left: 10px;
    margin-bottom: 20px;
    appearance: none;
}

.sell-form__image{
    width: 100%;
    height: 100px;
    border: #5F5F5F dotted 1px;
    border-radius: 4px;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.sell-form__image input{
    display: none;
}

.sell-form__image label{
    display: block;
    margin: 32px auto;
    padding: 5px;
    font-size: 14px;
    width: 150px;
    height: 30px;
    border: #FF5555 solid 1px;
    border-radius: 4px;
    background-color: white;
    color: #FF5555;
    text-align: center;
    cursor: pointer;
}

.sell-form__image-preview {
    width: auto;
    height: 100%;
    max-height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    object-fit: cover;
}

.sell-form__group-category{
    margin-bottom: 20px;
}
.sell-form__checkbox{
    width: 15px;
    height: 15px;
}
.sell-form__group-category label{
    margin-right: 20px;
}

.sell-form__submit button{
    width: 100%;
    height: 35px;
    color: white;
    background-color: #FF5555;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}